<div class="row footer-container">
    <div class="col-sm-6 social-links">
        <a href="https://www.linkedin.com/in/justin-weber-a16119110/"><i class="fab fa-linkedin"></i></a>
        <a href="https://plus.google.com/u/0/111207396591775415412"><i class="fab fa-google-plus"></i></a>
        <a href="https://twitter.com/jjweber01"><i class="fab fa-twitter-square"></i></a>
    </div>
    <div class="col-sm-6 copyright">
        <p><i class="fa fa-copyright" aria-hidden="true"></i> Justin Weber</p>
    </div>
</div>