<ul class="navigation">
    <li class="nav-item"><a href="/"><i class="fa fa-user-circle" aria-hidden="true"></i> Landing Page</a></li>
    <li class="nav-item"><a href="/about"><i class="fa fa-user-circle" aria-hidden="true"></i> About</a></li>
    <li class="nav-item"><a href="/work"><i class="fa fa-image" aria-hidden="true"></i> Work Gallery</a></li>
    <li class="nav-item"><a href="/blog"><i class="fa fa-comment" aria-hidden="true"></i> Blog</a></li>
    <li class="nav-item"><a href="/contact"><i class="fa fa-envelope" aria-hidden="true"></i> Contact</a></li>
</ul>