<!DOCTYPE html>
<html>
  <head>
    <title>{{title}} - Portfolio of some of my work from my journey becoming a web developer. It's filled with SEO goodness</title>
    <meta name="description" content="Charlotte Web Design and development | My porfolio website application with samples and links to my web d work  as  system that is easy to use | Easy to use CMS for Websites">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/font-mfizz/font-mfizz.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{> header}}
    <input type="checkbox" id="nav-trigger" class="nav-trigger" />
    <label for="nav-trigger"></label>
    <div class="site-wrap">
      {{{body}}}
    </div>
    {{> footer}}
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
