<div class="home">
    <ul class="fly-in-text1 hidden">
        <li>J</li>
        <li>U</li>
        <li>S</li>
        <li>T</li>
        <li>I</li>
        <li>N</li>
        <li>W</li>
        <li>E</li>
        <li>B</li>
        <li>E</li>
        <li>R</li>
    </ul>
    <h3>Web Developer</h3>
    <h4>"This is a placeholder for a quote!"</h4>
</div>


