<div class="home">
    <ul class="fly-in-text hidden">
        <li>J</li>
        <li>J</li>
        <li>J</li>
    </ul>
    <h3>Web Developer</h3>
    <h4>"This is a placeholder for a quote!"</h4>
</div>


