<h1>{{page}} Me</h1>

<p class="story-text">
    <span>Hello, my name is Justin Weber.</span> I am a disabled veteran who served in the Army for 4 years, two of which i spent in Iraq during Operation Enduring Freedom.
    My passion is my family, coding, and playing video games.
    I started my journey as a web developer a little over 4 years ago. 
    I started learning how to code on Free Code Camp in my spare time, and quickly fell in love with it. 
    I decided that it was time to make a career change and that led me to Fullsail University where I got my Bachelor's degree of Science in Web Design and Development.
</p>

<div class="row">
    <div class="col-xs-12 col-md-4">
        <i class="fas fa-chess"></i>
        <h4>Strategy</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi temporibus perferendis cupiditate aut provident adipisci distinctio minima laboriosam natus quos ab, ipsam illo vel in, commodi, accusamus exercitationem iure nihil.
        </p>
    </div>
    <div class="col-xs-12 col-md-4">
        <i class="fas fa-desktop"></i>
        <i class="fas fa-paint-brush"></i>
        <h4>UX/UI</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat non nam, incidunt, modi odio dolorum repudiandae asperiores recusandae repellat eos error enim laboriosam pariatur exercitationem officia nulla blanditiis earum. Eius.
        </p>
    </div>
    <div class="col-xs-12 col-md-4">
        <i class="fa fa-angle-left"></i>
        <i class="fa fa-angle-right"></i>
        <i class="fa fa-code"></i>
        <h4>Code</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit optio velit similique aliquid rem quos, libero nobis perspiciatis nam quas fuga, porro, repellendus eligendi dolorem aut deserunt dolorum vero id!
        </p>
    </div>
</div>

<div class="mySkills">
    <h4>My Skills</h4>
    <ul class="skillList">
        <li class="skillItem"><p><i class="fab fa-angular"></i> Angular</p></li>       
        <li class="skillItem"><p><i class="icon-apache"></i> Apache</p></li>
        <li class="skillItem"><p><i class="icon-bootstrap"></i> Bootstrap</p></li>

        <li class="skillItem"><p><i class="icon-csharp"></i> C#</p></li>
        <li class="skillItem"><p><i class="fab fa-css3-alt"></i> CSS</p></li>
        <li class="skillItem"><p><i class="icon-docker"></i> Docker</p></li>
        <li class="skillItem"><p><i class="icon-gulp"></i> Gulp</p></li>

        <li class="skillItem"><p><i class="fab fa-html5"></i> HTML</p></li>
        <li class="skillItem"><p><i class="fa fa-angle-left"></i> Express.Js</p></li>        
        <li class="skillItem"><p><i class="fab fa-js-square"></i> JavaScript</p></li>
        <li class="skillItem"><p><i class="icon-jquery"></i> JQuery</p></li>
        <li class="skillItem"><p><i class="fa fa-angle-left"></i> LAMP Stack</p></li>
        <li class="skillItem"><p><i class="fa fa-angle-left"></i> MEAN Stack</p></li>
        <li class="skillItem"><p><i class="icon-mongodb"></i> MongoDb</p></li>
        <li class="skillItem"><p><i class="icon-mysql"></i> MySQL</p></li>
        <li class="skillItem"><p><i class="fab fa-node"></i> Node.Js</p></li>
        <li class="skillItem"><p><i class="icon-npm"></i> Npm</p></li>
        <li class="skillItem"><p><i class="fab fa-php"></i> PHP</p></li>
        <li class="skillItem"><p><i class="fab fa-react"></i> React</p></li>
        <li class="skillItem"><p><i class="fab fa-sass"></i> SASS</p></li>        
        <li class="skillItem"><p><i class="icon-symfony"></i> Symfony</p></li>
    </ul>
</div>

