<div class="jumbotron blogJumbotron">
    <h1 class="display-4">{{page}} page!</h1>
    <h3 class="lead animated infinite pulse">Comming Soon</h3>
    <hr class="my-4">
    <p>This page will contain comments and posts from clients.</p>
</div>