<h1>Welcome to the {{page}} page!</h1>

<form class="needs-validation" novalidate>
    <div class="form-row">
        <div class="col-md-6 mb-6 form-group">
            <input type="text" class="form-control" id="validationCustom01" placeholder="Your First and Last Name" required>
            <div class="valid-feedback">
            Looks good!
            </div>
        </div>
        <div class="col-md-6 mb-6 form-group">
            <input type="text" class="form-control" id="validationCustom02" placeholder="Company Name" required>
            <div class="valid-feedback">
            Looks good!
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-6 form-group">
            <input type="email" class="form-control" id="validationCustom04" placeholder="Email Address" required>
            <div class="invalid-feedback">
                Please provide a valid email.
            </div>
        </div>
        <div class="col-md-6 mb-6 form-group">
            <input type="number" class="form-control" id="validationCustomPhone" placeholder="Phone Number" aria-describedby="inputGroupPrepend" required>
            <div class="invalid-feedback">
                Please enter a phone number.
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12 mb-12 form-group">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Your Message" required></textarea>
        <div class="valid-feedback">
            Looks good!
        </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>
</form>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
    'use strict';
    window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
            }
            form.classList.add('was-validated');
        }, false);
        });
    }, false);
    })();
</script>