<div class="home">
    <ul class="fly-in-text1 hidden">
        <li>J</li>
        <li>U</li>
        <li>S</li>
        <li>T</li>
        <li>I</li>
        <li>N</li>
    </ul>
    <ul class="fly-in-text2 hidden">
        <li>W</li>
        <li>E</li>
        <li>B</li>
        <li>E</li>
        <li>R</li>
    </ul>
    <h3 class="fade-in one">Web Developer</h3>
    <h4 class="fade-in one">"If you have a task, I have the solution!"</h4>
</div>


